<br><br>
<% if admin_signed_in? %>

    <h3>給料計算の流れ</h3><br>
    <p>１．<%= link_to("祝日設定","/admin/public_holiday")%></p>
    <p class="text-danger">※ 必ず祝日を先に設定してください</p>
    <p>２．<%= link_to("シフト表作成","/admin/new")%></p>
    <p>３．<%= link_to("出勤時間入力・給料計算","/admin/index")%></p>

<% else %>
    <h3>※シフト表を作成するには管理者ログインが必要です。</h3>
<% end %>
