<table cellpadding="5" cellspacing="5" class="head">
<tr>
<th>ユーザー名</th>
</tr>
<% @users.each do |user| %>
<tr>
<td><%= user.name1 %>  <%= user.name2 %></td>
<td><%= link_to("編集","") %></td>
<td><%= link_to("削除","") %></td>
</tr>
<% end %>
</table>